.brokerContainer {
  position: absolute;
  width: 100%;
  text-align: center;
}

.brokerContent {
  margin: 100px 15px 15px;
  color: #ffffff;
  box-shadow: 0 2px 5px 0.5px #cccccc;
  border-radius: 3
}

.brokerHeader {
  margin: -100px auto 0px
}

.brokerLogo {
  width: 150;
  height: 150;
  border-radius: 50%;
  border: 4px solid #ffffff
}

.brokerBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  cursor: pointer;
}

.brokerIcon {
  max-width: 56;
  max-height: 56;
  margin: 8px 16px 8px 0px;
  font-size: 20;
  min-width: 45;
  color: #333333
}

.brokerTextGroup {
  flex: 1;
  padding-left: 8;
  padding-bottom: 5;
  border-bottom: 1px solid #cccccc;
}

.brokerParagraph {
  margin: 0 0 2px;
  font-size: 1.2rem;
  line-height: normal;
  color: #222222
}

.brokerSmall {
  color: #555555
}
